#root {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;

  --container-width: 200px;
  --container-height: 100vh;
  --container-padding: calc( 50vw - 100px );
}

#main-app {
    position: absolute;
    top: 0px;
    left: var(--container-padding);
    background-color: lightblue; /* Temp for testing, do delete when it causes issues*/
    width: var(--container-width);
    height: var(--container-height);
    padding: 5px;
}

.snap-vertical {
  scroll-snap-points-y: repeat(100vh);
}


